{% extends '../base.htm' %}

{% block content %}
<div id="page-index" class="page">
  <div class="oe_main">
    <div class="oe_safety">
        <script type="text/javascript" src="/tpl/templets/default/js/safety.js"></script>
  <!--<div class="oe_safety_search">
    <div class="ser_top">
      <dl>
	    <dt>
        <span class="current" f="but_credit_type" data-type="all">综合查询</span>
        <span f="but_credit_type" data-type="mobile">手机号码</span>
        <span f="but_credit_type" data-type="qq">QQ号码</span>
        <span f="but_credit_type" data-type="email">邮箱</span>
        <span f="but_credit_type" data-type="weixin">微信</span>
        <span f="but_credit_type" data-type="idcard">身份证号</span>
        <div class="clear"></div>
      </dt>
		<dd>
      <input type="text" name="credit_key" id="credit_key" f="checkinput" /><span f="but_check_credit" data-flag="0"><i></i></span>
      <p id="credit_key_pt" f="changept" data-id="credit_key">请输入查询关键词</p>
		  <input type="hidden" name="credit_type" id="credit_type" value="all" />
      <em class="loading" id="credit_loading" style="display:none;">
        <img src="/tpl/templets/default//themes/images/loading.gif" />
      </em>
    </dd>
	  </dl>
      <label f="but_safety_addto"  onclick="artbox_loginbox();"><i></i>投诉/举报</label>
    </div>
  
    <div class="oe_safety_searchresult" style="display:none;" id="credit_result">
      <dl>
	    <dt><label class="" id="credit_img"></label> </dt>
		<dd>
		  <span id="key_tips"></span>
		  <em id="check_tips"></em>
        </dd>
        <div class="clear"></div>   

	  </dl>
    </div>
  </div> -- >
  <!--//oe_safety_search End -->
      <div class="left">
        <div class="title">
          <ul>
            {% comment %} <li><a href="/index.php?c=blackuser">黑名单</a></li> {% endcomment %}
            <li class="current"><a href="/index.php?c=safety">新闻阅读</a></li>
          </ul>
        </div>
        <div class="_safety_article">
          {% for news in newses %}
          <dl >
            <dt><h3><a href="/index/newsdetail/{{ news.id }}/">{{ news.title }}</a></h3></dt>
            <dd>
              <p class="text" style='overflow:hidden; text-overflow:ellipsis; display: -webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical;'> 
                {{ news.content }}
              </p>
              <p class="time">
                发布人： {{ news.writer }};
                时间：{{ news.pub_date }}
                <span class="span_1"></span>浏览：{{ news.browse }}
              </p>
              <div class="clear"></div>
            </dd>
            <div class="clear"></div>
          </dl>
          {% endfor %}
         </div>
        <!--<div class="page1">
          <div class="pagecode">
		        <a href="/index.php?c=safety&a=list&amp;page=1" class='on'>1</a><a href="/index.php?c=safety&a=list&amp;page=2">2</a><a href="/index.php?c=safety&a=list&amp;page=2" class='end'>下一页</a>
          </div>
          <div style="clear:both;"></div>
        </div>-->
      </div>

      <!--<div class="right">
        <div class="hot_info">
          <h3><span>热门新闻</span></h3>
                              <ul>
            <li><i></i><a href="/index.php?c=safety&a=detail&id=19">挽回前任只靠纠缠是不会成功的</a></li>
          </ul>
                    <ul>
            <li><i></i><a href="/index.php?c=safety&a=detail&id=18">成功挽回男朋友，怎么挽回前男朋友</a></li>
          </ul>
                    <ul>
            <li><i></i><a href="/index.php?c=safety&a=detail&id=16">身上长这六颗痣，注定一生大富大贵，钱财无忧</a></li>
          </ul>
                    <ul>
            <li><i></i><a href="/index.php?c=safety&a=detail&id=15">这三种女人不能碰，碰了会出大事？</a></li>
          </ul>
                    <ul>
            <li><i></i><a href="/index.php?c=safety&a=detail&id=14">从现在起，请不要对这三种人好，真的不值得</a></li>
          </ul>
                    <ul>
            <li><i></i><a href="/index.php?c=safety&a=detail&id=13">如果你老婆是这几生肖，越宠越旺，金银财宝数不清</a></li>
          </ul>
                    <ul>
            <li><i></i><a href="/index.php?c=safety&a=detail&id=12">女人有这三种旺夫相，男人娶到一定要珍惜</a></li>
          </ul>
                    <ul>
            <li><i></i><a href="/index.php?c=safety&a=detail&id=11">一个男人爱不爱你，试试便知</a></li>
          </ul>
                    <ul>
            <li><i></i><a href="/index.php?c=safety&a=detail&id=10">茶有三不喝，财有三不发，债有三不欠，知道还不晚</a></li>
          </ul>
                    <ul>
            <li><i></i><a href="/index.php?c=safety&a=detail&id=9">曾是刘强东左膀右臂的侯毅，为什么最后投靠了阿里</a></li>
          </ul>
        </div>
        <div class="oe_safety_info">
          <div class="hd">如何举报不良会员</div>
          <div class="bd">
             您可以在以下位置对于不法用户进行举报，并在举报时尽量提供相关私信，以便审核人员尽快处理。<br>
            1、该会员的个人主页、资料页<br>
            2、信件中心和该会员的聊天记录；
            <p>对于被举报会员，我们将在认定后对其作出封禁帐号的处理。</p><br>
          </div>
        </div>
      </div>
	  <div class="clear"></div>
    </div>-->
     
  </div>
</div>
{% endblock %}

{% block footer_script %}
  <script type='text/javascript'>
  //WAP提醒
  $(function(){
      var x = 10;  
      var y = 20;
      $("a.waptips").mouseover(function(e){
            this.myTitle = this.title;
          this.title = "";    
          var tooltip = "<div id='waptips'>"+ this.myTitle +"<\/div>"; //创建 div 元素
          $("body").append(tooltip);    //把它追加到文档中
          $("#waptips")
              .css({
                  "top": (e.pageY+y) + "px",
                  "left": (e.pageX+x)  + "px"
              }).show("fast");      //设置x坐标和y坐标，并且显示
      }).mouseout(function(){        
          this.title = this.myTitle;
          $("#waptips").remove();   //移除 
      }).mousemove(function(e){
          $("#waptips")
              .css({
                  "top": (e.pageY+y) + "px",
                  "left": (e.pageX+x)  + "px"
              });
      });
  })

  jQuery(".drop").slide({ type:"menu", titCell:".cin", targetCell:".sub",effect:"slideDown",delayTime:300,triggerTime:0,defaultPlay:false,returnDefault:true});

  </script>
  <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"7","bdPos":"right","bdTop":"100"},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
{% endblock %}